p 同じブロックを何度もクリックすると、<br>ブロックを回転させることができます。

p
	video(src='modals/03/rotate.mp4', autoplay=true, loop=true, muted=true)

p
	| <strong>右クリック</strong>(スマホでは<strong>長押し</strong>)すると、<br>

	| ブロックを消去することができます。

p
	video(src='modals/03/remove.mp4', autoplay=true, loop=true, muted=true)
